<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <ul>
      <li><%= link_to "Home", root_path, class: "navbar-brand" %></li>
      <br>
      <% if current_user %>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>