<body>
  <section id="users">
      <div id="create_user">
        <%= button_to "Create New User", register_path, method: :get %>
        <%= link_to "I already have an account", login_path %>
      </div>
      <br>
    <h3>Existing Users</h3><br>
      <% @users.each do |user| %>
        <div id="user-<%= user.id %>">
          <%= link_to user.email, user_path(user.id) %>
        </div>
      <br>
      <% end %>
  </section>
</body>